.social-bar {
    position: fixed;
    right: 0;
    top: 35%
}

.icon {
    color: antiquewhite;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}

.icon-whatsapp {
    background: #6a5acd;
}

.icon-github {
    background: #6a5acd;
}

.icon-linkedin2 {
    background: #6a5acd;
}

.icon:first-child {
    border-radius: 1rem 0 0 0;
}

.icon:last-child {
    border-radius: 0 0 0 1rem;
}

.icon:hover {
    padding-right: 2rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}